@model List<ResultBookingDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Rezervasyonlar</h1>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Personel Listesi</h4>
            <div class="table-responsive">
                <table class="table table-bordered verticle-middle">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Misafir</th>
                            <th scope="col">Giriş Tarihi</th>
                            <th scope="col">Çıkış Tarihi</th>
                            <th scope="col">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BookingID</td>
                                <td>@item.FirstName</td>
                                <td>@item.CheckIn</td>
                                <td>@item.CheckOut</td>
                                <td><span class="badge badge-pill badge-primary">@item.Status</span></td>
                                <td>
                                    <span class="mr-3">
                                        <a asp-action="ApprovedReservation" asp-route-id="@item.BookingID" data-toggle="tooltip" data-placement="top" title="" data-original-title="Onayla"><i class="fa fa-check color-muted m-r-5"></i> </a>
                                    </span>
                                    <span class="mr-3">
                                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="İptal Et"><i class="fa fa-close color-danger"></i></a>
                                    </span>
                                    <span class="mr-3">
                                        <a  data-toggle="tooltip" data-placement="top" title="" data-original-title="Beklet"><i class="fa fa-hand-paper-o  color-danger"></i></a>
                                    </span>
                                    <span class="mr-3">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Detaylar"><i class="fa fa-file  color-danger"></i></a>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <a asp-action="" class="btn mb-1 btn-rounded btn-outline-info"></a>
            </div>
        </div>
    </div>
</div>